/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header and Navigation */
header {
    background-color: #F96D34; /* Mexican Orange */
    height: 35px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    padding-right: 20px;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #FFF; /* White */
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #87CEEB; /* Sky Blue */
}

/* Logo */
.logo {
    font-size: 2em;
    color: #FDF3E7; /* Cream */
    margin-right: 10px;
}

.logo a {
    text-decoration: none;
    color: inherit;
}

/* Hero Section */
.hero {
    background-image: linear-gradient(to bottom, #87CEEB, #1E90FF); /* Sky Blue to Dodger Blue */
    color: #FFF; /* White */
    text-align: center;
    padding: 150px 0;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
}

/* About and Projects Sections */
section {
    padding: 50px 0;
}

/* Projects */
.project {
    background-color: #F9E7D2; /* Pale Orange */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

/* Contact */
#contact {
    background-color: #FFF; /* White */
}

/* Footer */
footer {
    background-color: #1E90FF; /* Dodger Blue */
    color: #FFF; /* White */
    text-align: center;
    padding: 20px 0;
}

/* Media Queries */
@media (max-width: 768px) {
    nav ul {
        justify-content: center;
    }

    nav ul li {
        margin: 0 5px;
    }
}
