/* Reset some default browser styles */
body, h1, h2, ul, p {
    margin: 0;
    padding: 0;
}

/* Apply a background color to the whole page */
body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

/* Main Hero Section */
#main-hero {
    background-image: url('main-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.overlay {
    background: linear-gradient(
        to bottom, 
        rgba(0, 0, 0, 0.3), 
        rgba(255, 255, 255, 0.3)
    );
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    text-align: center;
    color: white;
}

/* About Me Section */
#about-me {
    background-color: beige;
    padding: 50px;
}

.about-me-container {
    display: flex;
    flex-direction: row;
}

.about-me-image, .about-me-text {
    flex: 1;
    padding: 20px;
}

/* Projects Section */
#projects {
    background-color: #ffffff;
    padding: 50px;
}

.projects-container {
    display: flex;
    flex-direction: row;
}

.projects-list {
    flex: 1;
    padding: 20px;
}

.projects-list ul li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.projects-list ul li:hover {
    background-color: lightblue;
}

.divider {
    width: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.projects-image {
    flex: 4;
    padding: 20px;
}

.projects-image img {
    width: 80%;
    border-radius: 8px;
}
